*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cards{
  width: 15.625rem;
height: 7.1875rem;
flex-shrink: 0;
border-radius: 0.625rem;
margin: 2rem;
background: #FFF;
border-radius: 0.625rem;
}
.cards-card{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.6rem;
  height: 100%;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.cards-info p{
  color:  #B2B2B2;
  font-family: Cairo;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.cards-info h4{
  color: #29292B;
font-family: Cairo;
font-size: 1.5rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.lock-icon{
  width: 3.625rem;
height: 3.625rem;
flex-shrink: 0;
}